@import 'variables';
@import 'mixins';
@import 'colors';

.root {
  @include flexCenter;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.45)),
    url('/images/profile-site-colors.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  position: absolute;
  bottom: 72px;
  @include respond-above(sm) {
    width: 570px;
  }
}

.hi {
  width: 570px;
  animation: typing 2s steps(14), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 33px solid;
  font-size: $fontSizeLg;
  line-height: 4rem;
}

@keyframes fade {
  0% {
    opacity: 1;
    z-index: $highestZIndex;
  }
  100% {
    opacity: 0;
    z-index: -$highestZIndex;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
