@import 'variables';
@import 'mixins';
@import 'colors';

.root {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -$highestZIndex;
  animation: fade 2s;
}

.light {
  background-color: $text;
}

.dark {
  background-color: $black;
}

@keyframes fade {
  0% {
    opacity: 1;
    z-index: $highestZIndex;
  }
  100% {
    opacity: 0;
    z-index: -$highestZIndex;
  }
}
