@import 'mixins';
@import 'colors';
@import 'variables';

.root {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-45%);
  z-index: 1000;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.item {
  @include flexCenter;
  flex-direction: column;
}

.label {
  font-weight: $fontWeightVery-bold;
  text-align: center;
  overflow-y: hidden;
  margin-top: $margin;
  height: 0px;
  opacity: 0;
  transition: height 1.5s ease-out, opacity 1s ease-out;
  & span {
    line-height: $smallIconContainerSide;
    writing-mode: vertical-rl;
  }
}

.labelActive {
  height: 152px;
  @include respond-below(sm) {
    height: 104px;
  }
  opacity: 1;
  transition: height 1.5s ease-out, opacity 1s ease-out;
  border: 1px solid transparent;
}

.icon {
  @include smallIcon;
  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    border-radius: 33%;
    background-color: $primaryMain;
  }
}

.iconActive {
  background-color: $secondaryMain;
  &::after {
    transform: translateY(-100%) rotate(500deg);
    transition: transform 1.3s ease-in;
    transition-delay: 0.2s;
  }
}

.user {
  & svg {
    margin-top: 15px;
  }
}

.plane {
  & svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    margin-left: -3px;
  }
}
