@import 'mixins';
@import 'colors';

.root {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.label {
  text-align: center;
  overflow-y: hidden;
  margin-top: 12px;
  height: 0px;
  opacity: 0;
  transition: height 1.5s ease-out, opacity 1s ease-out;
  & span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 0px;
    transition: margin-top 1s ease-in-out;
    transition-delay: 0.2s;
  }
}

.labelActive {
  height: 150px;
  opacity: 1;
  transition: height 1.5s ease-out, opacity 1s ease-out;
  & span {
    margin-top: 0px;
    transition: margin-top 1s ease-in-out;
    transition-delay: 0.2s;
  }
}

@keyframes slidein {
  0% {
    margin-top: -150px;
  }
  100% {
    margin-top: 0px;
  }
}

.icon {
  @include smallIcon;
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    border-radius: 33%;
    background-color: $primaryMain;
  }
}

.iconActive {
  background-color: $secondaryMain;
  &::after {
    transform: translateY(-100%) rotate(500deg);
    transition: transform 1.3s ease-in;
    transition-delay: 0.2s;
  }
}

.user svg {
  margin-top: 15px;
}

.plane svg {
  width: 18px;
  height: 18px;
}
