$primaryMain: #647c90;
$primaryLight: #93abc0;
$primaryDark: #385062;

$secondaryMain: #c44b4f;
$secondaryLight: #fb7b7b;
$secondaryDark: #8e1727;

$text: #e2ded0;

$white: #fefffe;
$grey10: #cbcdcb;
$grey20: #9a9c9a;
$grey30: #787f81;
$grey40: #4c5355;
$black: #242a2c;
