@import '~@fontsource/roboto-mono/700.css';
@import '~@fontsource/arvo/400.css';
@import 'colors';
@import 'variables';
@import 'mixins';

body,
html {
  font-family: 'Arvo';
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  font-size: $baseFontSizeDesktopPx;
  @include respond-below(sm) {
    font-size: $baseFontSizeMobilePx;
  }
}

main {
  height: 100%;
  width: 100%;
  padding: 24px;
  color: $text;
  background-color: $black;
  &.light {
    color: $black;
    background-color: $text;
  }
}

h2 {
  font-family: 'Roboto Mono';
}

a {
  text-decoration: none;
  color: inherit;
}
